@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');


body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

main{
    background-image: url("images/background.png");
    height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
}

.formulario{
    background-color: white;
    margin-left: auto;
    width: 50%;
    float: left;
}

.formulario input[type="text"], input[type="email"]{
    width: 98%;
    height: 30px;
    margin-bottom: 3px;
    
}

textarea{
    width: 98%;
    height: 100px;
    margin-bottom: 3px;
    line-height: 1.3;
}

.formulario input[type="submit"]{
    margin:5px 72%;
    text-align: right;
    background-color: #8dd8ff;
    color: #03057c;
    border-radius: 5px;
}

.title{
    position: relative;
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
    color: white
}

.contenedor{
    position: absolute;
    left: 25%;
    width: 50%;
    background-color: white;
    opacity: 90%;
    border-radius: 6px;
}

.encabezado{
    text-align: center;
    padding-top: 2%;
}

.color{
    color: navy;
}

li{
    list-style: none;
}

.info{
    width:50%;
    float: left;
}

.redes{
    text-align: center;
}

